
.nav-bar
  min-height 61px
  display block
  clearfix()
  margin-bottom 20px 
  background-color #428bca 
  font-weight 500
  a 
    color #cdddeb
    font-weight 500
.nav
  clearfix()
  unstyled-list()
  position relative
  fl()
  li 
    fl()
    &:first-child
      margin-left -20px
  a   
    &:hover
      color #fff
    &.active
      color #fff
    position  relative
    padding 20px 30px
    display block
    font-size 18px

.main-content
  min-height 400px

.footer
  min-height 60px
