
body
  margin-top 80px


.nav-bar
  min-height 61px
  display block
  clearfix()
  margin-bottom 20px 
  // background-color #428bca 
  background-color rgba(0,0,0,0.5)
  font-weight 500
  a 
    color #cdddeb
    font-weight 500
.fixed-nav-bar
  position fixed
  width 100%
  top 0
.nav
  clearfix()
  unstyled-list()
  position relative
  fl()
  li 
    fl()
    &:first-child
      margin-left -20px
  a   
    &:hover
      color #fff
    &.active
      color #fff
    position  relative
    padding 20px 30px
    display block
    font-size 18px

.main-content
  min-height 540px

.footer
  min-height 60px


.git-picture
  width 400px
  display block
