header.nav-bar.fixed-nav-bar
  .container
    ul.nav
      block homenav
        li 
          a(href="index.html",class="active") 自言自语
        //
          li 
          a(href="linux.html") Linux
          li 
          a(href="about.html") about
