extends templates/master

block vars

block title
    | Front End

block homenav
  li 
    a(href="index.html",class="active") Today Frontend
block styles

block content
    .main-content 
      .container 
        include:md ./includes/articles/2015-06/frontend.md





























































































































































































































































































































