extends templates/master


block vars

block title
    | Git

block styles

block content
    .main-content 
      .container 
        include:md ./includes/articles/2015-04/git.md























































































































































































































































































































