extends templates/master

block vars

block title
    | Soar's Blog

block styles

block content
    .main-content 
      .container 
        :markdown
          # shadowsocks 
          Goagent can not work most of time 
          and I switch to shadowsocks.

















































































































































































































































































































































