extends templates/master

block vars

block title
    | Soar's Blog

block styles

block content
    .main-content 
      .container 

        include:md ./includes/articles/2015-01/sogou.md
        include:md ./includes/articles/2015-01/shadowsocks.md
           















































































































































































































































































































































