extends templates/master

block vars

block title
    | Soar's Blog

block styles

block content
    .main-content 
      .container 
        | 123 test github pages deploy success 




















































































































































































































































































































































